{% extends "base.html" %}
{% block title %}
  Post Details | {{post.title}}
{% endblock %}
{% block content %}
  {% if messages %}
  <div class="row">
    <div class="col-md-4">
      {% for message in messages %}
        <div class="alert alert-success">
          {{message}}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if post %}
    <p>{{post.title}}</p>
    {% if post.image %}
      <p><img src="{{ post.image.url }}" class="img-responsive" alt="post picture"></p>
    {% endif %}

    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
      Facebook
    </a>
    <a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">
      Twitter
    </a>
    <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>
      Google+
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
      Linkedin
    </a>
    <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">
      Reddit
    </a>

    <p>{{post.content|linebreaks}}</p>

  {% else %}
    <p>No post</p>
  {% endif %}


{% endblock %}
